<style type="text/css">
  .hidden { display: none; }
</style>

<div class="display_container">
  <span>
    <%= progress %>
  </span> 
  <span>
    Lives: <%= lives %>
  </span> 
</div>
<form action="/submit_guess/" method="get">
  <div class="submit_container">
    <span>
      Enter:
    </span>
    <span>
      <input type="text" name="guess" />
    </span>
    <span>
      <input type="submit" value="submit" />
    </span> 
  </div>
</form>