<h1 class="the_title">High Noon Hangman</h1>
<div class="game_container">
  <div class="word">
    <%= progress %>
  </div>
  <div class="entry_based_message">
    <%= error_message %>
  </div>
  <div class="guess_container">
    <form action="/submit_guess/" method="get">
      <div class="submit_container">
        <div>
          <input class="input-guess" type="text" name="guess" autocomplete="off" autofocus placeholder="Enter Guess..." />
        </div>
        <div>
          <input class="enter" type="submit" value="Make a Guess!" />
        </div> 
      </div>
    </form>
  </div>
</div>

<div class="lives_container">
  <div class="hangman">
    <!-- Hangman image here -->
  </div>
  <span class="lives current-<%= lives %>"></span>
  <div class="trash">
    <%= trash %>
  </div>
</div>

<div class="clearfix"></div>