<html>
  <head>
    <title>Hangman</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>
   <body>
    <div class="buttons_top">
      <form class="new_game"action="/reset/">
        <input class="restart" type="submit" method="get" value="New Game">
      </form>
      <form class="custom_game" name="hats" action="/custom_word/">
        <input class="start_custom" type="submit" method="get" value="Custom Game" />
      </form>
    </div>
    <div class="container">
      <h1 class="the_title">High Noon Hangman</h1>
      <div class="game_container">
        <%= yield %>
      </div>

      <div class="clearfix"></div>
    </div>
  </body>
</html>
