<html>
  <head>
    <title>Hangman</title>

    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>
   <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
