<html>
  <head>
    <title>Hangman</title>

    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>
   <body>
    <div class="container">
      <h1 class="the_title">High Noon Hangman</h1>

      <div class="game_container">
        <%= yield %>
      </div>

      <div class="clearfix"></div>
    </div>
  </body>
</html>
