@font-face {
    font-family: chalk;
    src: url(TallyMark.otf);
}

@font-face {
  font-family: western;
  src: url(CMOldWestern.ttf);
}

body {
  background: #fff 0 0/100% 100% no-repeat url(background.jpg);
  margin: 0;
  padding: 0;
}

.container {
  border: 2px solid ;
  border-radius: 25px;
  box-shadow: 10px 10px 5px black;
  width: 92%;
  max-width: 900px;
  margin: 20px auto;
  background: rgba(255,255,255,0.5);

  padding: 20px 4%;
}
  .buttons_top {
    margin-top: 15px;
    text-align: center
  }
    .restart {
      background: #1f1f1f;
      background-image: -webkit-linear-gradient(top, #1f1f1f, #737373);
      background-image: -moz-linear-gradient(top, #1f1f1f, #737373);
      background-image: -ms-linear-gradient(top, #1f1f1f, #737373);
      background-image: -o-linear-gradient(top, #1f1f1f, #737373);
      background-image: linear-gradient(to bottom, #1f1f1f, #737373);
      -webkit-border-radius: 12;
      -moz-border-radius: 12;
      border-radius: 12px;
      font-family: Arial;
      color: #ffffff;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      border: solid #dae0e3 1px;
      text-decoration: none;
    }

    .restart:hover {
      background: #858585;
      background-image: -webkit-linear-gradient(top, #858585, #969696);
      background-image: -moz-linear-gradient(top, #858585, #969696);
      background-image: -ms-linear-gradient(top, #858585, #969696);
      background-image: -o-linear-gradient(top, #858585, #969696);
      background-image: linear-gradient(to bottom, #858585, #969696);
      text-decoration: none;
    }


    .restart:focus {
        border: 1px solid #09c;
        box-shadow: 0 0 7px rgba(0, 200, 204, 0.7);
        outline: none;
    }

h1.the_title {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 18px;
  font-size: 80px;
  font-family: western;
  text-align: center;
}

.game_container {
  width: 60%;
  float: left;
}

/* Multi-line Comment
    This is a multi line comment */

  .word {
    font-size: 100px;
    text-align: center;
    padding-bottom: 30px;
  }

  .entry_based_message {
    font-size: 24px;
    font-family: Courier;
    color: #BC1616; /*Dark red*/
    text-align: center;
  }

.guess_container {
  text-align: center;
}

/* Will affect all inputs with an attribute of type that is equal to "text".
  input[type="text"] {

*/
  .input-guess {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    width: 100%;
    border: 1px solid #000;
    -webkit-transition: border 0.8s ease-in-out, box-shadow 0.8s ease-in-out;
    text-align: center;
  }

  .input-guess:focus {
    border: 1px solid #09c;
    box-shadow: 0 0 7px rgba(255, 0, 0, 0.7);
    outline: none;
  }

  .enter {
    background: #1f1f1f;
    background-image: -webkit-linear-gradient(top, #1f1f1f, #737373);
    background-image: -moz-linear-gradient(top, #1f1f1f, #737373);
    background-image: -ms-linear-gradient(top, #1f1f1f, #737373);
    background-image: -o-linear-gradient(top, #1f1f1f, #737373);
    background-image: linear-gradient(to bottom, #1f1f1f, #737373);
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #dae0e3 1px;
    text-decoration: none;
   }

    .enter:hover {
      background: #858585;
      background-image: -webkit-linear-gradient(top, #858585, #969696);
      background-image: -moz-linear-gradient(top, #858585, #969696);
      background-image: -ms-linear-gradient(top, #858585, #969696);
      background-image: -o-linear-gradient(top, #858585, #969696);
      background-image: linear-gradient(to bottom, #858585, #969696);
      text-decoration: none;
    }

    .enter:focus {
        border: 1px solid #09c;
        box-shadow: 0 0 7px rgba(0, 200, 204, 0.7);
        outline: none;
    }

.lives_container {
  width: 40%;
  float: left;
  padding-top: 220px
}
  .lives.current-9:before {
    content: "ed";
  }

  .lives.current-8:before {
    content: "ec";
  }

  .lives.current-7:before {
    content: "eb";
  }

  .lives.current-6:before {
    content: "ea";
  }

  .lives.current-5:before {
    content: "e";
  }

  .lives.current-4:before {
    content: "d";
  }

  .lives.current-3:before {
    content: "c";
  }

  .lives.current-2:before {
    content: "b";
  }

  .lives.current-1:before {
    content: "a";
  }

  .trash_container {
    border-width: 0px 12px 0px 12px;
    border-style: double;
    border-color: rgba(0,0,0,0.75);;
    border-radius:40px 40px 60px 60px;
    -webkit-border-radius:40px 40px 60px 60px;
  }
    .trash_heading {
      opacity: 0.75;
      padding-left: 20px;
      font-family: Verdana;
      font-size: 26px
    }

    .trash {
      opacity: 0.75;
      padding-left: 55px;
      padding-bottom: 10px;
      font-size: 26px
    }

    .trash_whole_heading {
      opacity: 0.75;
      padding-left: 20px;
      font-family: Verdana;
      font-size: 26px
    }

    .trash_whole_words {
      opacity: 0.75;
      padding-left: 55px;
      font-size: 26px
    }

    .lives:before {
      font-family: chalk;
      font-size: 50px;
      display: block;
      text-align: center;
    }

.clearfix {
  clear: both;  /* :( */
}